.banner,
.banner-wrapper {
  height: 100vh;
  display: flex;
}
.after2::before,
.after::before,
.before::before {
  position: absolute;
  bottom: -25px;
  height: 3px;
  background-color: #5cd2b9;
  content: "";
}
.after,
.after2,
.before,
.serv-crd,
.serv-crd h3 {
  position: relative;
}
.back,
.serv-crd .front {
  backface-visibility: hidden;
  transition: 1s;
  padding: 20px;
  top: 0;
}
.banner-txt,
.serv-crd {
  text-align: center;
}
.accordion-item,
.banner,
.faqs,
.serv-crd p {
  overflow: hidden;
}
.banner {
  align-items: center;
  justify-content: center;
}
#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-wrapper {
  z-index: 200;
  width: 100%;
  align-items: center;
  justify-content: center;
  will-change: opacity;
  background-blend-mode: multiply;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.serv-crd,
.serv-crd .front {
  flex-direction: column;
  display: flex;
}
.before::before {
  left: 45%;
  width: 10%;
}
.after::before {
  left: 0;
  width: 15%;
}
.after2::before {
  left: 0;
  width: 10%;
}
.back,
.folio,
.prt-overlay,
.serv-crd .front {
  width: 100%;
  height: 100%;
}
.WhoWeAre .row,
.subabt .row {
  opacity: 0.8;
}
.WhoWeAre {
  border-top: 1px solid #5cd2b9;
  border-bottom: 1px solid #5cd2b9;
}
.subabt {
  background-color: #0a1715;
}
.serv-crds .row {
  row-gap: 30px;
}
.serv-crd {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}
.serv-crd .front {
  transform: perspective(1000px) rotateY(0);
  align-items: center;
  justify-content: center;
  border: 2px solid #5cd2b9;
  border-radius: 30px;
  position: absolute;
  left: 0;
}
.serv-crd:hover .front {
  transform: perspective(1000px) rotateY(180deg);
}
.back {
  background: #5cd2b9;
  transform: perspective(1000px) rotateY(-180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: absolute;
  left: 0;
}
.serv-crd:hover .back {
  transform: perspective(1000px) rotateY(0);
}
.serv-crd img {
  width: 100px;
  height: 100px;
}
.serv-crd h3::before {
  content: "";
  position: absolute;
  left: 30%;
  top: -10px;
  width: 40%;
  height: 4px;
  background-color: #f69110;
}
.serv-crd p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.serv-crd a:hover {
  color: #fff;
}
.partners {
  background-attachment: fixed;
  background-image: url(../images/folds/partner-bg.webp);
  background-position: center center;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0;
  position: relative;
}
.prt-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(270deg, #5cd2b93d 0, #151515 80%);
  opacity: 0.85;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.prt-slide img {
  width: 200px;
  margin: 0 auto;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 1s;
}
.prt-slide:hover img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.folio-crds .row {
  row-gap: 60px;
}
.folio {
  padding: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: 6s ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 2px 0,
    rgba(255, 255, 255, 0.15) 0 2px 6px 2px;
}
.folio:hover {
  background-position: bottom;
}
.folio-1 {
  background: url(../images/folds/folio1.webp) top/cover no-repeat;
}
.folio-2 {
  background: url(../images/folds/folio2.webp) top/cover no-repeat;
}
.folio-3 {
  background: url(../images/folds/folio3.webp) top/cover no-repeat;
}
.folio-4 {
  background: url(../images/folds/folio4.webp) top/cover no-repeat;
}
.folio-5 {
  background: url(../images/folds/folio5.webp) top/cover no-repeat;
}
.folio-6 {
  background: url(../images/folds/folio6.webp) top/cover no-repeat;
}
.testimonials {
  background-color: #222;
  padding: 50px 0;
}
.testimnl-slide {
  padding: 40px;
  background-color: #353535cf;
}
.testimnl-slide img {
  width: 80px;
}
.rating i {
  color: #f69110;
  font-size: 12px;
}
.testimnl-slider .slick-dots li button::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 10px;
  height: 10px;
  color: #000;
  background-color: #fd9802;
  border-radius: 20%;
}
.contact form .form-control,
textarea {
  border: 1px solid #5cd2b9;
  color: #fff;
  font-size: 16px;
  width: 100%;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
}
.testimnl-slider .slick-dots {
  bottom: -40px;
}
.contact {
  background: url(../images/folds/contact-bg.webp) center center/cover no-repeat;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 4em 1em;
  position: relative;
}
.cntct-overlay {
  background-color: #0c0c0c;
  background-image: url(../images/folds/contact-bg.webp);
  background-position: center center;
  background-size: cover;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.faqs,
.privacy,
.terms {
  background-color: #1c332e;
  height: 50vh;
}
.contact form {
  border: 2px solid #5cd2b9;
  padding: 50px 40px;
  width: 85%;
}
.contact form .inp-marg {
  margin-top: 40px;
}
.contact form .form-control {
  border-radius: 0;
  height: 50px;
}
textarea {
  border-radius: 0;
  height: 100px;
  resize: none;
  padding: 10px;
}
.form-control:focus,
textarea:focus {
  background-color: transparent;
  border: 1px solid #5cd2b9;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: #fff;
}
.faq-heading p a:hover,
.ofc i {
  color: #5cd2b9;
}
::placeholder {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}
.ofc i {
  font-size: 40px;
}
.privacy,
.terms {
  display: flex;
  align-items: center;
}
.faq-content,
.prvcy-content,
.terms-content {
  text-align: center;
  display: block;
}
.accordion,
.faqs,
.page404 {
  display: flex;
}
.faqs {
  align-items: center;
}
.faq-heading {
  margin-bottom: 40px;
}
.faq-heading p a {
  text-decoration: none;
}
.accordion {
  flex-direction: column;
  gap: 20px;
}
.accordion-item {
  width: 100%;
  border-radius: 7px;
  background-color: #f8f8f8;
  border: none;
}
.accordion-item button {
  background-color: #f8f8f8;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  padding: 14px 17px;
  color: #0a1715;
  font-family: Montserrat, sans-serif;
}
.accordion-body {
  padding: 0 20px 50px;
}
.accordion-body p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
}
.accordion-button:not(.collapsed) {
  font-weight: 700;
  color: #5cd2b9;
  background-color: transparent;
  box-shadow: none;
}
.page404 {
  background-color: #0c0c0c;
  height: 100vh;
  align-items: center;
}
.image-404 {
  margin-top: 60px;
}
.image-404 img {
  width: 500px;
}
/* =================== */

.pkgBanner{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.pckgs-card {
  background: 0 0/400% 400% #1c332e;
  padding: 30px 25px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.pckgs-cntnt {
  background-color: #f2f2f2;
}

.pckgs-list {
  height: 300px;
  overflow-y: scroll;
  padding-right: 10px;
}

.pckgs-list > li {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--primary-fonts);
}

.pckgs-card h3{
  transition: all .3s ease-in-out;
}

.pckgs-card:hover h3{
  font-size: 55px;
}